
@using Modas.Models
@using Modas.Models.ViewModels
@model EventListViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>MODAS</title>
    <link href="~/css/all.min.css" rel="stylesheet" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/styles.css" rel="stylesheet"/>
    <link href="~/css/client.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
    
        <table class="border table table-bordered table-striped table-dark shadow-sm">
            <tr><th class="text-center">Flag</th><th>Date</th><th>Time</th><th>Location</th></tr>
            @foreach (var e in Model.Events)
            {
                <tr>
                    <td><i data-id="@e.EventId" data-checked="@e.Flagged.ToString().ToLower()" class="@(e.Flagged ? "fas" : "far") fa-flag fa-lg flag"></i></td>
                    <td>@String.Format("{0: ddd, MMM dd, yyyy}", e.TimeStamp)<div class="d-none d-md-block">get_long_date(e[i].ts)</div><div class="d-md-none">get_short_date(e[i].ts)</div></td>
                    <td>@String.Format("{0:hh:mm tt}", e.TimeStamp)</td>
                    <td>@e.Location.Name</td>
                </tr>
            }
        </table>
    
    
    <div class="row mb-3">
        <div class="col">
            <button id="first" class="btn btn-primary " type="button" data-page="1"><a class="fa fa-angle-double-left"></a></button>
            <button id="previous" class="btn btn-primary " type="button" data-page="@Model.PagingInfo.PreviousPage"><a class="fa fa-angle-double-left"></a></button>

        </div>
        <div class="col text-center">
            <span id="start">@(Model.PagingInfo.RangeStart)</span>-<span id="end">@(Model.PagingInfo.RangeEnd)</span>
            of
            <span id="total">@(Model.PagingInfo.TotalItems)</span>
        </div>
        <div class="col text-right">
            <button id="next" class="btn btn-primary " type="button" data-page="@Model.PagingInfo.NextPage"><a class="fa fa-angle-double-right"></a></button>
            <button id="last" class="btn btn-primary " type="button" data-page="@Model.PagingInfo.TotalPages"><a class="fa fa-angle-double-right"></a></button>
        </div>
    </div>
</div>



<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="~/js/bootstrap.min.js"></script>
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css"></script>*@
<script src ="/css/all.css"></script>
    <script src="~/js/client.js"></script>

</body>

@*<script>
    $(function () {
        initButtons();

        $('.flag').on('click', function () {
            // TODO: AJAX to update database
            if ($(this).data('checked')) {
                $(this).data('checked', false);
                $(this).removeClass('fas').addClass('far');
            } else {
                $(this).data('checked', true);
                $(this).removeClass('far').addClass('fas');
            }
        });

    });

    $('#first, #next, #previous, #last').on('click',
        function() {
            location.href = "page" + $(this).data('page');
        });
    function initButtons() {
        $('#first, #previous').prop('disabled', $('#start').html() == "1");

        $('#last, #next').prop('disabled', $('#end').html() == $('#total').html());
    }
    function get_long_date(str) {
        var month_names = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
        var dow = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"];
        var full_date = str.split("T")[0];
        var year = full_date.split("-")[0];
        var month = full_date.split("-")[1];
        var date = full_date.split("-")[2];
        var d = new Date(year + "-" + Number(month) + "-" + Number(date))

        return dow[d.getDay()] + ", " + month_names[d.getMonth()] + " " + date + ", " + year;
    }
    function get_short_date(str) {
        return str.split("T")[0];
    }
            
   
</script>*@
</html>