
@using Modas.Models
@using Modas.Models.ViewModels
@model EventListViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>MODAS</title>
    <link href="~/css/all.min.css" rel="stylesheet" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/styles.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <div class="row">
        <table class="border table table-bordered table-striped table-dark table-shadow">
            <tr><th class="text-center">Flag</th><th>Date</th><th>Time</th><th>Location</th></tr>
            @foreach (var e in Model.Events)
            {
                <tr>
                    <td><i data-id="@e.EventId" data-checked="@e.Flagged.ToString().ToLower()" class="@(e.Flagged ? "fas" : "far") fa-flag fa-lg flag"></i></td>
                    <td>@String.Format("{0: ddd, MMM dd, yyyy}", e.TimeStamp)</td>
                    <td>@String.Format("{0:hh:mm tt}", e.TimeStamp)</td>
                    <td>@e.Location.Name</td>
                </tr>
            }
        </table>
    </div>
    
    <div class="row mb-3">
        <div class="col">
            <button id="first" class="btn btn-primary " type="button" data-page="1"><a class="fa fa-angle-double-left"></a></button>
            <button id="previous" class="btn btn-primary " type="button" data-page="@Model.PagingInfo.PreviousPage"><a class="fa fa-angle-double-left"></a></button>

        </div>
        <div class="col text-center">
            <span id="start">@(Model.PagingInfo.RangeStart)</span>-<span id="end">@(Model.PagingInfo.RangeEnd)</span>
            of
            <span id="total">@(Model.PagingInfo.TotalItems)</span>
        </div>
        <div class="col text-right">
            <button id="next" class="btn btn-primary " type="button" data-page="@Model.PagingInfo.NextPage"><a class="fa fa-angle-double-right"></a></button>
            <button id="last" class="btn btn-primary " type="button" data-page="@Model.PagingInfo.TotalPages"><a class="fa fa-angle-double-right"></a></button>
        </div>
    </div>
</div>



<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="~/js/bootstrap.min.js"></script>
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css"></script>*@
<script src ="/css/all.css"></script>

</body>
<script>
    $('#first, #next, #previous, #last').on('click',
        function() {
            location.href = "page" + $(this).data('page');
        });
    $('#first, #previous').prop('disabled', $('#start').html() == "1");
   
    $('#last, #next').prop('disabled', $('#end').html() == $('#total').html());
    $('a.flag').on('click',
        function() {
            $(this).toggleClass('far fas');
        });
   
</script>
</html>